<table border="2">
  <tr>
    <th>Версия</th>
    <th>Время проверки</th>
    <th>ИФНС</th>
<% @sdbvers.each do |rsdbver| %>
  <tr>
    <td><%= rsdbver.Version %></td>
    <td><%= rsdbver.Date.strftime("%d.%m.%Y в %H:%M") %></td>
    <td><%= rsdbver.SONO %></td>
  </tr>
<% end %>
</table>
