
<h0>Проверка актуальности версий</h0><br><br>
<table border="2">
  <tr>
    <th>Версия</th>
    <th>Посл. проверка</th>
    <th>ИФНС</th>
<% @lcdbv.each do |rlcdbv| %>
  <tr>
    <td><%= rlcdbv.Version %></td>
    <td><%= rlcdbv.Date.strftime("%d.%m.%Y в %H:%M") %></td>
    <td><%= rlcdbv.SONO %></td>
  </tr>
<% end %>
</table>
